#text-container {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  margin: auto;
}

#message-box {
  display: flex;
  justify-content: center;
  max-width: 500px;
  margin: auto;
}

#input-container {
  display: flex;
  justify-content: center;
  max-width: 500px;
  margin: auto;
}
